

kubectl create secret generic careerconnect-jwt-secret --from-literal=JWT_KEY=<your_jwt_secret_value>
kubectl create secret generic careerconnect-gmail-secret --from-literal=GMAIL_PASSWORD=<your_gmail_secret_value>
kubectl create secret generic careerconnect-admin-secret --from-literal=ADMIN_PASSWORD=<your_admin_secret_value>