

kubectl create secret generic careerconnect-jwt-secret --from-literal=JWT_KEY=<your_jwt_secret_value>
kubectl create secret generic careerconnect-gmail-secret --from-literal=GMAIL_PASSWORD=<your_gmail_secret_value>
kubectl create secret generic careerconnect-admin-secret --from-literal=ADMIN_PASSWORD=<your_admin_secret_value>





























store------

apiVersion: skaffold/v2alpha3
kind: Config
deploy:
  kubectl:
    manifests:
      - ./infra/k8s/admin-depl.yaml # This is the file you want to include
      - ./infra/k8s/auth-depl.yaml
      - ./infra/k8s/client-app-depl.yaml
      - ./infra/k8s/ingress-srv.yaml
      - ./infra/k8s/jobService.yaml
      - ./infra/k8s/nats-depl.yaml
      - ./infra/k8s/profile-depl.yaml
      # You don't need to include admin-mongo-depl.yaml here
build:
  local:
    push: false
  artifacts:
    - image: christapherantony/client-app
      context: client-app
      docker:
        dockerfile: Dockerfile
      sync:
        manual:
          - src: "src/**/*.jsx"
            dest: .
    - image: christapherantony/auth
      context: auth
      docker:
        dockerfile: Dockerfile
      sync:
        manual:
          - src: "src/**/*.js"
            dest: .
    - image: christapherantony/profile
      context: profile
      docker:
        dockerfile: Dockerfile
      sync:
        manual:
          - src: "src/**/*.js"
            dest: .
    - image: christapherantony/admin
      context: admin
      docker:
        dockerfile: Dockerfile
      sync:
        manual:
          - src: "src/**/*.js"
            dest: .
    - image: christapherantony/jobservice
      context: jobservice
      docker:
        dockerfile: Dockerfile
      sync:
        manual:
          - src: "src/**/*.js"
            dest: .
