kubectl create secret generic careerconnect-base-url --from-literal=BASE_URL=<---your_jwt_secret_value--->
kubectl create secret generic careerconnect-jwt-secret --from-literal=JWT_KEY=<---your_jwt_secret_value--->
kubectl create secret generic careerconnect-gmail-secret --from-literal=GMAIL_PASSWORD=<---your_gmail_secret_value--->       //for node mailer
kubectl create secret generic careerconnect-admin-secret --from-literal=ADMIN_PASSWORD=<---your_admin_password--->
kubectl create secret generic careerconnect-firebase-api-key --from-literal=FIRE_BASE_API_KEY=<---your_admin_secret_value--->
kubectl create secret generic careerconnect-mongo-uri --from-literal=MONGO_URI_ATLAS=<---your_mogo_db_altas_uri--->
kubectl create secret generic careerconnect-cloudinary-config --from-literal=CLOUD_NAME=<--your_cloud_name--> --from-literal=API_KEY=<--your_cloud_key--> --from-literal=API_SECRET=<--your_cloud_api_secreat-->
kubectl create secret generic careerconnect-google-OAuth  --from-literal=CLIENT_SECRET=<--your_client_secret--> --from-literal=CLIENT_ID=<--your_client_id-->

Client secret
CLIENT_ID

Client ID


kubectl create secret generic careerconnect-base-url --from-literal=BASE_URL=https://www.careerconnect.cloud
kubectl create secret generic careerconnect-base-url --from-literal=BASE_URL=https://careerconnect.dev