@import url('https://fonts.googleapis.com/css?family=Helvetica');
body {
  font-family: 'Helvetica', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .pro-h-right{
    @apply font-black text-base
  }
  .pro-text{
    @apply text-myGray
  }
  .validation-true{
    @apply block w-full px-3 py-2 mt-2 file:bg-gray-200 file:text-gray-700 file:text-sm file:px-4 file:py-1 file:border-none file:rounded-full  placeholder-gray-400/70  text-gray-600 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring
  }
  .validation-false{
    @apply block w-full px-3 py-2 mt-2 file:bg-gray-200 file:text-gray-700 file:text-sm file:px-4 file:py-1 file:border-none file:rounded-full  placeholder-gray-400/70  text-gray-600 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring
  }
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}