
.cellWithStatus {
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  border: none;
  // background-color: transparent;
  // border: 1px solid transparent;

  &.true {
    border-color: crimson;
    color: crimson;
  }
  &.false {
    border-color: green;
    color: rgb(6, 100, 6);
  }
}

.button {
  display: inline-block;
  background-color: #008CBA;
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #006D87;
}


.datatable {
  height: 600px;
  padding: 20px;

  
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  // .cellWithStatus {
  //   padding: 5px;
  //   border-radius: 5px;

  //   &.true {
  //     background-color: rgba(255, 0, 0, 0.05);
  //     color: crimson;
  //   }
  //   &.false {
  //     background-color: rgba(0, 128, 0, 0.05);
  //     color: rgba(0, 128, 0, 0.263);
  //   }
  // }
}
