@import '../../variables';

.signup {
    background-color: $bg-primary;
    height: 790px;

    .outerbox {
        background-color: $bg-secondary;
        width: 70%;
      
        border-radius: 15px;
       
       
       
      

       
    }
}